header {
    background-color: blue;
    background-image: url(./imgs/pattern.png);
    padding-top: 60px;
  width: 1660x;
    height: 100px;
}

#logo {
    width: 150px;
}

#uno {
   background-color: aqua;
    width: 100px;
}
#primo{
    background-image: url(./imgs/monitor.jpg);
background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: red;
  font-size: 140%;
  font-weight: normal;
  line-height: 260px;
  text-align: center;
  width: 240px;
  height: 150px;
}

#Secondo{
    background-image: url(./imgs/graph.jpg);
    background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: rgb(247, 0, 0);
  font-size: 140%;
  font-weight: normal;
  text-align: center;
  width: 240px;
  height: 150px;
}